<div class="card">
    <div class="card-header">
        ID
        <span class="fw-semibold text-body-emphasis">
            {{@key}}
        </span>
    </div>
    <div class="card-body">
        <h5 class="card-title fw-bold text-body-emphasis"> {{nombre}}</h5>
        <div class="ps-3 py-2">
            <p class="card-text mb-1">
                Genero:
                <span class="fw-semibold text-body-emphasis">
                    {{genero}}
                </span>
            </p>
            <p class="card-text mb-1">
                Año:
                <span class="fw-semibold text-body-emphasis">
                    {{año}}
                </span>
            </p>
            <p class="card-text">
                Autor:
                <span class="fw-semibold text-body-emphasis">
                    {{autor}}
                </span>
            </p>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between py-3">
        <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            data-bs-toggle="modal"
            data-delete-name="{{nombre}}"
            data-delete-id="{{@key}}"
            data-bs-target="#modalDelete"
        >Eliminar</button>
        <a
            href="/animations/{{@key}}/edit"
            class="btn btn-outline-info btn-sm"
        >Editar</a>
        <a
            href="/animations/id/{{@key}}"
            class="btn btn-outline-primary btn-sm"
        >Ver mas</a>
    </div>
</div>
</article>