{{#> core/main title=(concat nombre " | Animaci칩n Japonesa") }}
{{#if animation}}
<article class="text-center">
    <h1>
        {{animation.nombre}}
    </h1>
    <ul class="list-unstyled">
        <li>ID: {{id}}</li>
        <li>Genero: {{animation.genero}}</li>
        <li>A침o: {{animation.a침o}}</li>
        <li>Autor: {{animation.autor}}</li>
    </ul>
</article>
{{else}}
<section class="my-auto text-center">
    <h1 class="mb-5">
        Animaci칩n no encontrada
    </h1>
    <a href="/">Go to home</a>
</section>
{{/if}}
{{/core/main}}