{{#> core/main title=(concat nombre " | Animaci칩n Japonesa") }}

<article class="text-center">

    {{#if animation}}
    <h1>
        {{animation.nombre}}
    </h1>
    <ul class="list-unstyled">
        <li>ID: {{id}}</li>
        <li>Genero: {{animation.genero}}</li>
        <li>A침o: {{animation.a침o}}</li>
        <li>Autor: {{animation.autor}}</li>
    </ul>
    {{else}}
    <h1>
        Animaci칩n no encontrada
    </h1>
    {{/if}}
</article>
{{/core/main}}