{{#> core/main title=(concat nombre " | Animaci칩n Japonesa") }}
{{#if animation}}

<article class="text-center">
    <h1 class="my-4">
        {{animation.nombre}}
    </h1>
    <ul class="list-unstyled">
        <li>ID: {{id}}</li>
        <li>Genero: {{animation.genero}}</li>
        <li>A침o: {{animation.a침o}}</li>
        <li>Autor: {{animation.autor}}</li>
    </ul>
</article>
<div class="d-flex justify-content-evenly py-3">
    <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        data-bs-toggle="modal"
        data-delete-name="{{animation.nombre}}"
        data-delete-id="{{id}}"
        data-bs-target="#modalDelete"
    >Eliminar</button>
    <a
        href="/animations/{{id}}/edit"
        class="btn btn-outline-info btn-sm"
    >Editar</a>
</div>
{{else}}
<section class="my-auto text-center">
    <h1 class="mb-5">
        Animaci칩n no encontrada
    </h1>
    <a href="/">Go to home</a>
</section>
{{/if}}
{{/core/main}}