<section class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
    <form
        class="col was-validated"
        id="formAnimation"
    >
        {{#each fields}}
        <div class="form-floating mb-3">

            <input
                {{#if
                (keyIsYear
                @key)}}
                type="number"
                min="1800"
                {{else}}
                type="text"
                {{/if}}
                class="form-control"
                id="{{@key}}"
                name="{{@key}}"
                placeholder=""
                value="{{this}}"
                required
            >
            <label
                for="{{@key}}"
                class="text-capitalize"
            >{{@key}}</label>
            <div class="invalid-feedback">
                Por favor ingrese un {{@key}}.
            </div>

        </div>
        {{/each}}
        <div class="d-flex justify-content-between pt-3">
            <button
                type="reset"
                class="btn btn-outline-success"
            >Restaurar <span class="d-none d-sm-inline">campos</span>
            </button>
            <button
                type="submit"
                class="btn btn-outline-primary"
            >{{btnSubmit}} <span class="d-none d-sm-inline">animación</span></button>
        </div>
    </form>
</section>