{{#> core/main title=(concat nombre " | Animación Japonesa") }}
<main class="container mb-auto pt-5">
    <article class="text-center">
        <h1>
            {{nombre}}
        </h1>
        <ul class="list-unstyled">
            <li>ID: {{id}}</li>
            <li>genero: {{genero}}</li>
            <li>año: {{año}}</li>
            <li>autor: {{autor}}</li>
        </ul>
    </article>
</main>
{{/core/main}}