{{#> core/main title=(concat nombre "| Animación Japonesa") }}
<main class="container mb-auto">
    <article class="text-center">
        <h1>
            {{nombre}}
        </h1>
        <ul>
            <li>ID: {{id}}</li>
            <li>genero: {{genero}}</li>
            <li>año: {{año}}</li>
            <li>autor: {{autor}}</li>
        </ul>

    </article>
</main>
{{/core/main}}